# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Пакеты
node_modules
jspm_packages

# Cкомпилированные ресурсы
out-tsc
coverage
dist-ssr

# Temporaries
thumbs.db
Icon?
.cache
ccache

# Редакционные файлы и настройки
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.project
.classpath
.settings
.tmproj
.fsxproj
.csproj
.sln
.ncrunch*
.pidb*
.suo
.njsproj
.sdf
.vs
.tmp
.sw?
.buildpath
.metadata
.history
.projectloc
.tsserverlog
.nbproject

# Кэш npm
.npm

# Специфичные директории CI/CD
test-results
reports
release
app.asar
electron-builds

# Локальные конфиги
*.local
.DS_Store
.coveragerc
.envrc
.localenv
.config
.bowerrc
.env
.hushlogin
.netrc
.rvmrc
.yarn-internals
.lcov.info
*.sublime-project
*.sublime-workspace
.yarn-berry-plugins.yml
package-lock.json
yarn.lock
pnpm-lock.yaml
lerna.json
pnpm-shrinkwrap.yaml

# Каталоги типов сборщиков
public
target
out
temp
publish
bin
obj
build
lib-cov
generated-sources
bundle
.electron