@import './base.css';

* {
  box-sizing: border-box;
  font-family: Roboto;
  line-height: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}


body {
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  outline: none;
  cursor: pointer;
}

.btn-primery {
  border-radius: 2px;
  background: #1890FF;
  border: 1px solid #1890FF;
  color: #FFF;
}

.btn-outline {
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  box-shadow: 0 0 2 0 rgb(0, 0, 0, 0.00);
  color: #595959;
}

.logo {
  max-width: 100px;
}

.logo img {
  width: 100%;
}

.banner {
  margin-bottom: 56px;
}

.banner-item {
  background-image: url(./image/banner/banner-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  padding: 68px;
  border-radius: 10px;
  background-color: var(--calendula-gold---gold-2);
}

.banner-item--title {
  color: rgba(48, 44, 52, 1);
  font-size: 39px;
  font-weight: 700;
  max-width: 50%;
  margin-top: 0;
  margin-bottom: 15px;
}

.banner-item--subtitle {
  color: rgba(48, 44, 52, 1);
  font-size: 24px;
  font-weight: 400;
  max-width: 50%;
  margin: 0;
}

.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.products-header--title {
  color: rgba(0, 0, 0, 1);
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.products-header-search {
  min-width: 306px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  padding: 5px 12px;
}

.products-header-search:focus {
  outline: none;
  border: 1px solid #D9D9D9;
}

.products-header-search::placeholder {
  color: rgba(191, 191, 191, 1);
  font-size: 16px;
  font-weight: 400;
}

.products-wrppers {
  margin-top: 44px;
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 24px;
}

.product-card {
  width: calc((100% - 24px - 24px) / 3);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  overflow: hidden;
}

.product-card__image {
  width: 100%;
}

.product-card__image img {
  width: 100%;
}

.product-card__discription {
  padding: 20px 24px 34px 24px;
}

.product-card__discription-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card__discription-row:not(:last-child) {
  margin-bottom: 10px;
}

.product-card__discription--title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #000;
  margin: 0;
}

.product-card__discription--badge {
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: #fff;
  border-radius: 2px;
  padding: 1px 8px;
  width: 56px;
  height: 22px;
  background: var(--gray---gray-9);
}

.product-card__discriptiob-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  row-gap: 8px;
  column-gap: 25px;
  flex-wrap: wrap;
}

.product-card__discription-info--raiting {
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: #ffc107;
}

.product-card__discription-info--price,
.product-card__discription-info--group {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: var(--gray---gray-7);
}

.product-card__discription-info--group {
  position: relative;
}

.product-card__discription-info--group::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--gray---gray-7);
  position: absolute;
  left: -14px;
  top: 14px;
}

.product-card__discription--name {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: var(--gray---gray-10);
  margin: 0;
}

.product-card__discription--text {
  font-weight: 400;
  font-size: 18px;
  color: var(--gray---gray-7);
  margin: 0;
}

.product-card__discription-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
  padding-top: 15px;
}

.product-card__discription-controls--price {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: var(--gray---gray-10);
}

@media (max-width: 991px) {
  .banner-item {
    background-image: none;
  }

  .banner-item--title {
    max-width: 100%;
  }

  .banner-item--subtitle {
    max-width: 100%;
  }

  .product-card {
    width: calc((100% - 24px) / 2);
  }

}

@media (max-width: 768px) {
  .product-card {
    width: 100%;
  }

}